# Markdown Basics
## Markdown Basics
### Markdown Basics
#### Markdown Basics
##### Markdown Basics
* **POINT1**
* *POINT2*
* ***POINT3***

* NORMAL TEXT
   * SUB LIST 1
  * SUB LIST 2
  
> 1.POINT 1
> 2.POINT 2

* ***ADDING LINKS TO MARKDOWN***

* GOOGLE SITE -- [1] :http:www.google.com
* MN WEBSITE -- [2] :http:www.msn.com

- []OPTION 1
* GOOGLE SITE -- [GOOGLE][1]
[1]: http://www.google.com

In [2]:
### PYTHON VERSION
> Python version 3.7
> Functional programming
> object oriented programming

SyntaxError: invalid syntax (<ipython-input-2-1868ee91170b>, line 2)

In [ ]:
print("Hello, Gitam")
Hello, Gitam

In [ ]:
print("Hyderabad")
Hyderabad

In [4]:
print("Hello, Gitam","!!!",end = "")
print("Hyderabad",end="!!!")
print("Python Program")

Hello, Gitam !!!Hyderabad!!!Python Program

In [7]:
n1 = 100 
a = b = c = 20
a1,b1,c1 = 111,222,333 
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

In [8]:
a = 100;
s1 = "python"
s2 = "p"
f1 = 10.2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [11]:
s1 = "100"
print(type(s1))
a = int(s1)
print(type(a))
f = 1.5
a1 = int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [10]:
a1 = 1234
print(len(str(a1)))

4

In [12]:
s1 = input ("Enter your name")
print(s1)
print(type(s1))

Enter your namesreekhar
sreekhar
<class 'str'>

In [13]:
n1 = int (input("enter a number"))
print(n1,type(n1))

enter a number58989
58989 <class 'int'>

In [14]:
n1 = 9599
print(n1+50)
print(n1-40)
print(n1*10)
print(n1/60)
print(n1%70)
print(n1//10)
print(n1**10)

9649
9559
95990
159.98333333333332
9
959
6641404265308298467151635702091827104001

In [15]:
x = 1 + 2 ** 3 / 4 + 5
print(x)

8.0

In [20]:
n = int(input("Enter a number"))
if n%2 == 0:
     print("Even")
else:
    print("odd")
print(type(n))
a = float(n)
print(a)
print(type(a))

Enter a number15
odd
<class 'int'>
15.0
<class 'float'>

In [21]:
n = int(input("enter number"))
if n%3 == 0 and n%5 == 0:
    print("yes")
else:
    print("no")

enter number30
yes

In [22]:
n = int(input("Enter the number"))
if n == 0:
    print("Zero")
if n > 0:
    print("greater than one")  
else:
    print("less than zero")

Enter the number5
greater than one